# vim: set foldmethod=marker foldmarker={{{,}}}:
#!/usr/bin/env bash
# shellcheck disable=SC1091
source "$TW_BINX/lib/sane_fn.sh"
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR

############### Python ###############
# Emulate the pipenvs's activate, because we can't source things in direnv
layout_uv
export PYTHONPATH=$PROJ_DIR
export PIPENV_VENV_IN_PROJECT=1  # creates .venv

if which tmux > /dev/null 2>&1; then
    tmux rename-window "$(basename "$PROJ_DIR")"
fi

############### Exports ###############
export RUN_ENV=local
export senv="source $PROJ_DIR/scripts/env.sh"

export RPLC_CONFIG="$VIMWIKI_PATH/dev/vimania-uri-rs.md"
export RPLC_MIRROR_DIR="$HOME/dev/s/private/py-twlib/rplc/sysid/vimania-uri-rs"
swapin() {
    rplc -v swapin
    direnv allow
}
export_function swapin
swapout() {
    rplc -v swapout
    direnv allow
}
export_function swapout

PATH_add $PROJ_DIR/scripts
